*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
}
li{
    list-style-type: none;
}
@media screen and (max-width:486px) {
    h4{
        font-size: 1.2rem;
    }
}